nav{
    background-color: #ef9a01;
    padding: 15px;
    font-size: 20px;
    display: flex;
    width: 1500px;
}

a{
    text-decoration: none;
    color:#895e38;    
}

a:hover{
    color: #ddcdc0;
}

.accueil{
    margin-right:100px;
    margin-left: 150px;
}

.ajout{
    margin-left: 100px;
}